@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply
    bg-neutral-700
    p-3
    rounded-md
    shadow-lg
  }
  
  .header {
     @apply 
    bg-neutral-900
    flex
    h-16
    items-center
    justify-evenly 
    px-2
    shadow-lg
    w-screen
   }

  .header-icon {
    @apply 
    cursor-pointer 
    dark:bg-neutral-700
    duration-300 
    ease-linear
    flex 
    h-12 
    hover:bg-red-900
    hover:rounded-xl 
    hover:text-white
    items-center 
    justify-center 
    mb-2 
    mt-2 
    relative 
    rounded-md
    shadow-lg
    text-red-900
    transition-all 
    w-12 
  }
    
  .header-tooltip {
    @apply 
    absolute 
    bg-neutral-700 
    duration-300 
    font-bold 
    m-2 
    min-w-max 
    origin-left 
    p-2 
    rounded-md 
    scale-0 
    select-none
    shadow-md
    text-white 
    text-xs 
    top-8
    transition-all 
    w-auto 
  }

  .link {
    @apply
    duration-200
    ease-linear
    hover:text-red-900
    transition-all
  }

  .main {
    @apply 
    flex
    flex-col
    h-screen
   } 

   .screen {
    @apply
    flex 
    flex-1 
   }

   .screen-centered {
    @apply
    flex 
    flex-1 
    items-center 
    justify-center
   }
}

body {
  @apply
  bg-zinc-800
  text-gray-100
}

button {
  @apply
  bg-red-900  
  duration-300 
  ease-linear
  font-semibold
  hover:bg-neutral-800
  hover:rounded-md
  p-2
  rounded-xl
  select-none
  shadow-2xl
  text-white
  transition-all
  w-fit
}
